*.log
*.pyc
*.swn
*.swo
*.swp
*history.local

*.pt
*.pth

__pycache__
fairdiplomacy.egg-info/
dist/
pip-wheel-metadata/
local/
.idea/
conf/*_pb2.py
conf/*_cfgs.py
conf/*_pb2.pyi
conf/*_cfgs.pyi
.ipynb_checkpoints/
.vscode/
.idea/
client_secret.json
service_account_credentials.json
sheets.googleapis.com-python.json
.mypy_cache
dummy_situations.json
.noseids
nohup.out
perf.data
gmon.out
callgrind.out*
/build/
dipcc/vgcore*
dipcc/Testing/
.nfs*
/fairdiplomacy/selfplay/*.so
/fairdiplomacy/*.so
/src/
dipcc/detect_cuda_version.cc
node_modules/
